# -*- ruby -*-

suffix = "dc=test,dc=local,dc=net"

update_host = "127.0.0.1"
#update_use_tls = true
update_bind_format = "cn=%s,dc=local,dc=net"
update_user = "admin"
update_password = "secret"

sid = "S-1-5-21-915876905-2926214379-2876160357"
user_home = "/home/%U"
user_login_shell = "/bin/sh"
