<html>
  <head>
    <title>SambaController: <%= controller.action_name %></title>
  </head>
  <body>
    <h1>Samba + LDAP Management</h1>
    <p>Purged.</p>
    <%= link_to "Back", :action => nil %>
  </body>
</html>
